.footer-container {
  display: flex;
  position: relative;
  width: 476px;
  height: 81px;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  background-color: var(--color-lightgray);
  border-radius: 15px;
  z-index: 1000;
  p{
    font-family: 'Poppins-Bold';
    font-size: 24px;
  }
}

footer, .modal-footer{
  margin-top: auto;
}