.btn-order {
  display: flex;
  width: 154px;
  height: 54px;
  align-items: center;
  background-color: var(--color-darkorange);
  border-radius: 15px;
  cursor: pointer;
  button{
    background-color: var(--color-darkorange);
    margin: 0 auto;
    color: var(--color-white);
    font-family: 'Poppins-Bold';
    font-size: 20px;
  }
}

.modal, .overlay {
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: var(--color-darkwhite);
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.overlay {
  opacity: 0.8;
}

.modal-message {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: var(--color-lightgray);
  width: 615px;
  height: 370px;
  border-radius: 15px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 91px 0;
  .btn-order {
    width: 154px;
    height: 54px;
    box-sizing: revert;
  }
  .modal__caption{
    font-family: 'Poppins-Bold';
    color: var(--color-darkorange);
    font-size: 40px;
  }
  .modal__text{
    font-family: 'Poppins-SemiBold';
    color: var(--color-gray);
    font-size: 20px;
  }
}