.home {
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 60px auto;
  .box {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: auto;
    gap: 37px;
    font-family: 'Poppins-Bold';
    font-size: 64px;
    color: var(--color-lightblack);
    float: left;
    margin: 0 auto;
    span{
      color: var(--color-orange);
    }
    .home-caption{
      font-family: 'Poppins-Regular';
      font-size: 16px;
      color: var(--color-black);
      width: 500px;
      line-height: 22px;
    }
    .home-title{
      width: 400px;
    }
  }
}

@include md {
  .home{
    width: 92%;
    .home-container{
      text-align: center;
      .home-caption, .home-title{
        margin: 0 auto;
        width: 523px;
      }
    }
  }
}

@include sm {
  .home{
    width: 92%;
    .home-container{
      text-align: center;
      .home-caption, .home-title{
        margin: 0 auto;
        width: 395px;
      }
    }
  }
  .home-title{
    font-size: 48px;
  }
}

@include mobile {
  .home{
    width: 98%;
    .home-container{
      gap: 18px;
      .home-title{
        width: 382px;
        line-height: 53px;
      }
    }
  }
}

@include xs{
  .home .home-container .home-caption, .home .home-container .home-title{
    width: 365px;
  }
}